.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 16px;
  height: 100vh;
  width: 100vw;
}

.face {
  display: flex;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 2px 2px rgba(0, 0, 0, 0.2);
}

.pip {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 15px;
  flex: 0 0 auto;
}
